.app-container {
  width: 100%;
  Height:173px;
  display: flex;
}

.banner-scroll {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
}

.scroll-content {
  position: relative;
  inset: 0;
  overflow: auto;
  margin-right: -17px; 
  margin-bottom: -17px;
  flex: 1 1 auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 173px;
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: #5c86df;
  
}

.header-container {
  text-align: center;
  color: white;
 
  padding: 27px 84px 38px;
  
}

.header-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
  font-family: var(--uui-font);
  font-weight: 600;
  margin: 0;
  padding: 9px 0 6px;
  text-align: left;
}

.header-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #b2c7f6;
  line-height: 18px;
  padding: 0;
  --uui-text: var(--uui-text-primary);
  text-align: left;
}

.uui-scroll-bars {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.uui-scroll-bars::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.uui-scroll-bars::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.uui-scroll-bars::-webkit-scrollbar-track {
  background: transparent;
}

.uui-shadow-top {
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.2);
}

.uui-shadow-bottom {
  box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
}
