.container {
  display: flex;
  flex-direction: column;
  height: 91.5vh;

  background-color: rgba(245, 246, 250, 1);
}

.internalContainer {
  display: flex;
  flex-direction: column;
  height: 86vh;
  /* width: 100%; */
  /* margin: 0 auto;
  width: 1200px; */
  

  padding: 24px;
}
